Debug/vc143.pdb
Debug/vc143.idb
Debug/utilitarios.sbr
Debug/utilitarios.obj
Debug/tk_video.sbr
Debug/tk_video.obj
Debug/tk_timer.sbr
Debug/tk_timer.obj
Debug/tk_teclado.sbr
Debug/tk_teclado.obj
Debug/tk_tape.sbr
Debug/tk_tape.obj
Debug/tk_som_nucleo.sbr
Debug/tk_som_nucleo.obj
Debug/tk_som.sbr
Debug/tk_som.obj
Debug/tk_registro.sbr
Debug/tk_registro.obj
Debug/tk_memoria.sbr
Debug/tk_memoria.obj
Debug/tk_main.sbr
Debug/tk_main.obj
Debug/tk_joystick.sbr
Debug/tk_joystick.obj
Debug/tk_janela.sbr
Debug/tk_janela.obj
Debug/tk_impressora.sbr
Debug/tk_impressora.obj
Debug/tk_imagem.sbr
Debug/tk_imagem.obj
Debug/tk_disco.sbr
Debug/tk_disco.obj
Debug/tk_debug.sbr
Debug/tk_debug.obj
Debug/tk_cpu.sbr
Debug/tk_cpu.obj
Debug/TK2000.vcxproj.FileListAbsolute.txt
Debug/TK2000.tlog/TK2000.lastbuildstate
Debug/TK2000.tlog/rc.write.1.tlog
Debug/TK2000.tlog/rc.read.1.tlog
Debug/TK2000.tlog/rc.command.1.tlog
Debug/TK2000.tlog/link.write.1.tlog
Debug/TK2000.tlog/link.read.1.tlog
Debug/TK2000.tlog/link.command.1.tlog
Debug/TK2000.tlog/CL.write.1.tlog
Debug/TK2000.tlog/CL.read.1.tlog
Debug/TK2000.tlog/CL.command.1.tlog
Debug/TK2000.tlog/bscmake.write.1.tlog
Debug/TK2000.tlog/bscmake.read.1.tlog
Debug/TK2000.tlog/bscmake.command.1.tlog
Debug/TK2000.rom
Debug/TK2000.res
Debug/TK2000.pdb
Debug/TK2000.log
Debug/TK2000.ilk
Debug/TK2000.exe.recipe
Debug/TK2000.exe
Debug/TK2000.bsc
Debug/Firmware_Disco.rom
.vs/VSWorkspaceState.json
.vs/TK2000/v17/ipch/AutoPCH/d0887fdaa447c658/TK_VIDEO.ipch
.vs/TK2000/v17/ipch/AutoPCH/c30bb5c517816f65/TK_MEMORIA.ipch
.vs/TK2000/v17/ipch/AutoPCH/9614c49aea64c770/TK_JANELA.ipch
.vs/TK2000/v17/ipch/AutoPCH/521e7e68f9ae310a/TK_SOM.ipch
.vs/TK2000/v17/ipch/AutoPCH/4d8d6c62d95508d4/TK_DEBUG.ipch
.vs/TK2000/v17/Browse.VC.opendb
.vs/TK2000/v17/Browse.VC.db-wal
.vs/TK2000/v17/Browse.VC.db-shm
.vs/TK2000/v17/Browse.VC.db
.vs/TK2000/v17/.suo
.vs/tk2000-emulator/v17/.suo
TK2000.rom
